# full|left|center|right|test
ENV_SET=full

# Number between 00-99
ENV_INSTANCE=14

# Docker Image Tag to use
IMAGE_TAG=105

# Ambari Repo Version (used to pull the correct vars in ../environment/vars/ambari_?.json)
AMBARI_VERSION=2.6.2.2

BLUEPRINT=??
AMBARI_ADMIN_USER=admin
AMBARI_ADMIN_PASSWORD=admin
HDP_STACK=HDP
HDP_STACK_VERSION=2.6
HDP_REPO_ID=HDP-2.6
OS_TYPE=redhat7

--ldap-url={{ ldap-url }}
--ldap-ssl=false
--ldap-user-class={{ ldap-user-class }}
--ldap-user-attr={{ ldap-user-attr }}
--ldap-group-class={{ ldap-group-class }}
--ldap-group-attr={{ ldap-group-attr }}
--ldap-member-attr={{ ldap-member-attr }}
--ldap-dn={{ ldap-dn }}
--ldap-base-dn={{ ldap-base-dn }}
--ldap-manager-dn={{ ldap-manager-dn }}
--ldap-manager-password={{ ldap-manager-password }}
--ldap-referral=ignore
--ldap-bind-anonym=false
LDAP_URL=10.0.1.11:389
LDAP_MANAGER_DN=uid=admin,cn=users,cn=accounts,dc=streever,dc=local
LDAP_MANAGER_PASSWORD=hortonworks
LDAP_BASE_DN=
LDAP_DN=cn
LDAP_MEMBER_ATTR=member
LDAP_GROUP_ATTR=cn
LDAP_GROUP_CLASS=posixgroup
LDAP_USER_ATTR=uid
LDAP_USER_CLASS=posixaccount

HDP_REPO_ID=HDP-2.6
HDP_REPO_URL=http:\\/\\/repo.home\\/repo\\/HDP\\/centos7\\/2.x\\/updates\\/2.6.5.0
HDP_UTIL_REPO_ID=HDP-UTILS-1.1.0.22
HDP_UTIL_REPO_URL=http:\\/\\/repo.home\\/repo\\/HDP-UTILS-1.1.0.22\\/repos\\/centos7
HDP_GPL_REPO_ID=HDP-2.6-GPL
HDP_GPL_REPO_URL=http:\\/\\/repo.home\\/repo\\/HDP-GPL\\/centos7\\/2.x\\/updates\\/2.6.5.0
